@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Encode+Sans:wght@500&family=Roboto+Flex:opsz,wght@8..144,500&family=Roboto:ital,wght@0,900;1,400;1,500&family=Rubik:ital,wght@0,400;0,500;0,700;1,500&display=swap');

$fontHead: 'Roboto', sans-serif;
$fontFISC:'Rubik', sans-serif;
$fontButton:'Encode Sans', sans-serif;
$fontSC:'Roboto Flex', sans-serif;
$fontFC:'Barlow', sans-serif;